@{
    ViewBag.Title = "About";
}
<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">ABOUT US</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="coming-soon.html">Page</a></li>
                        <li><a href="faqs.html">about</a></li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /.page-title -->
<!-- /.page-title -->
<!-- /.flat-row -->
<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                    <h2 class="title">
                        About Us
                    </h2>
               
                </div>
            <hr />
            <br />
            <div class="col-md-12">
                <div class="body">

                   
                    <p>Shirts are a staple fashion in every man’s wardrobe – be it casual shirts or formal ones. A stylish shirt will instantly lend you a smart and sophisticated look wherever you go. Pick the right shirt for every occasion in your calendar with AJIO’s range of shirts for men!

For your work wear wardrobe, we have a collection of smart formal shirts at Paybazaar. From classic blue shirts with semi-spread collars to slim fit shirts with cutaway collars in brighter hues, we have everything you need to look dapper at work.

AJIO has casual shirts galore for your casual wardrobe. Solid shirts in every colour of your liking for that smart casual look are available. Printed shirts are a rage right now. We have an eclectic range of prints for the man who likes to flaunt his style. From everyday stripes and checked shirts to camouflage prints and colour block patterns, the collection comprises of the best styles. Eye-catching floral prints, abstract patterns and geometric designs are available for your taking too! Browse through tons of other options to perfect your looks and add to your personality.

Shirts with semi-spread collars and spread collars are a must-have in your wardrobe. But you can experiment with other styles of collars to give your outfits a fashionable edge. We have Mandarin collars, club collars, slim collars, banker’s collars, button-down collars and many more!

If you like to stand out for your unique sense of style, look through our category of stylized shirts. Popover shirts, short button plackets, contrast sleeves, elbow patches and many other trendy detailing can be found here. A denim shirt will also make a great add to your wardrobe, so look through those too. And if you are looking for unique options, may we suggest looking at our shackets? A blend of shirts and jackets, these cool pieces are sure to catch your eye. They come in solids and well as trendy prints!

Full sleeved shirts are sure to make you look keen and classy. But during those hotter months, half sleeved shirts would make a better choice. Three-quarter sleeves will add a dash of style to your looks. We have every option made available for you! As for sizes and fits, from S to XXXL, we have them all. You need not fret about not finding the right fit.

In case you’re looking for designer shirts online, we have the best brands online to help you pick. The biggies in men’s fashion like Flying Machine, GAS, Indian Terrain, John Players and many more are available for you to choose from. Our in-house brand, AJIO, has fashionable yet comfortable shirts for your picking. There are tons of other brands to look through and select from, so get looking!

EASY EXCHANGE*100% HANDPICKEDASSURED QUALITY

Who We AreJoin Our TeamTerms & ConditionsWe Respect Your PrivacyFees & PaymentsReturns & Refunds PolicyPromotions Terms & Conditions
Help
Track Your OrderFrequently Asked QuestionsReturnsCancellationsPaymentsCustomer CareHow Do I Redeem My Coupon?
Shop by
CollectionsMenWomenKidsIndieNew ArrivalsBrand DirectoryHome
</p>
                </div>
            </div>
            </div>
        </div>
    </section>
       